In [2]:
import yfinance as yf
import pandas as pd
import numpy as np
import tensorflow as tf
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
import matplotlib.pyplot as plt
import warnings
import datetime as dt
plt.style.use('seaborn')
plt.rcParams['figure.figsize'] = [16, 9]
plt.rcParams['figure.dpi'] = 300
warnings.simplefilter(action='ignore', category=FutureWarning)

ModuleNotFoundError: No module named 'tensorflow'

In [ ]:
ibm_df = yf.download("IBM", start = "1962-01-03", end = "2022-05-16", progress = False)

In [ ]:
ibm_df.head()

                Open      High       Low     Close  Adj Close  Volume
Date
1962-01-02  7.374124  7.374124  7.291268  7.291268   1.673324  407940
1962-01-03  7.291268  7.355003  7.291268  7.355003   1.687950  305955
1962-01-04  7.355003  7.355003  7.278521  7.281708   1.671130  274575
1962-01-05  7.272148  7.272148  7.125558  7.138305   1.638219  384405
1962-01-08  7.131931  7.131931  6.947100  7.004461   1.607504  572685

In [ ]:
ibm_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 15197 entries, 1962-01-02 to 2022-05-13
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       15197 non-null  float64
 1   High       15197 non-null  float64
 2   Low        15197 non-null  float64
 3   Close      15197 non-null  float64
 4   Adj Close  15197 non-null  float64
 5   Volume     15197 non-null  int64
dtypes: float64(5), int64(1)
memory usage: 831.1 KB

In [ ]:
ibm_df = ibm_df.sort_values("Date")
ibm_df.head()

                Open      High       Low     Close  Adj Close  Volume
Date
1962-01-02  7.374124  7.374124  7.291268  7.291268   1.673324  407940
1962-01-03  7.291268  7.355003  7.291268  7.355003   1.687950  305955
1962-01-04  7.355003  7.355003  7.278521  7.281708   1.671130  274575
1962-01-05  7.272148  7.272148  7.125558  7.138305   1.638219  384405
1962-01-08  7.131931  7.131931  6.947100  7.004461   1.607504  572685

Asset prices are (usually) non-stationary.
By transforming the prices into returns, we attempt to make the time series stationary, which is the desired
property in statistical modeling.

In [ ]:
# log return (excluding dividens)
ibm_df = ibm_df.loc[:, ["Adj Close"]]
ibm_df.rename(columns={'Adj Close':'adj_close'}, inplace=True)

In [ ]:
ibm_df.head()

            adj_close
Date
1962-01-02   1.673324
1962-01-03   1.687950
1962-01-04   1.671130
1962-01-05   1.638219
1962-01-08   1.607504

In [ ]:
ibm_df['simple_rtn'] = ibm_df.adj_close.pct_change()
ibm_df['log_rtn'] = np.log(ibm_df.adj_close/ibm_df.adj_close.shift(1))

* Simple returns: They aggregate over assets; the simple return of a portfolio is the
weighted sum of the returns of the individual assets in the portfolio.
* Log returns: They aggregate over time; it is easier to understand with the help
of an example—the log return for a given month is the sum of the log returns of
the days within that month.

* Py for Finance Cookbook - page 18 (how to account inflation in the returns series) *

In [ ]:
ibm_df.head()

            adj_close  simple_rtn   log_rtn
Date
1962-01-02   1.673324         NaN       NaN
1962-01-03   1.687950    0.008741  0.008703
1962-01-04   1.671130   -0.009965 -0.010014
1962-01-05   1.638219   -0.019694 -0.019890
1962-01-08   1.607504   -0.018749 -0.018927